<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pro.ssm.dao.AdminMapper">
  <resultMap id="BaseResultMap" type="com.pro.ssm.model.Admin">
    <id column="aid" jdbcType="CHAR" property="aid" />
    <result column="password" jdbcType="CHAR" property="password" />
  </resultMap>
  <sql id="Base_Column_List">
    aid, password
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from admin
    where aid = #{aid,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from admin
    where aid = #{aid,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.pro.ssm.model.Admin">
    insert into admin (aid, password)
    values (#{aid,jdbcType=CHAR}, #{password,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pro.ssm.model.Admin">
    insert into admin
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="aid != null">
        aid,
      </if>
      <if test="password != null">
        password,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="aid != null">
        #{aid,jdbcType=CHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pro.ssm.model.Admin">
    update admin
    <set>
      <if test="password != null">
        password = #{password,jdbcType=CHAR},
      </if>
    </set>
    where aid = #{aid,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pro.ssm.model.Admin">
    update admin
    set password = #{password,jdbcType=CHAR}
    where aid = #{aid,jdbcType=CHAR}
  </update>
</mapper>